# Puerto para el servidor
PORT=3000

# Configuración de Supabase (solo necesario en producción)
SUPABASE_URL=https://mhdttrvrvsbvskcbespc.supabase.co
SUPABASE_KEY=tu_clave_api_supabase

# URL del frontend en producción (opcional si quieres permitir todos los orígenes)
FRONTEND_URL=https://tu-frontend.com

# Entorno (development o production)
NODE_ENV=development 